:root {
    --paars: #5722CD;
    --blauw: #4B49E8;
    --lichtpaars: #F2F0FF;
    --roze: #ED4385;
    --zwart: #0C0C0C;
    --lichtgrijs: #F3F6F9;
    --grijs: #7A7A7A;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Roboto:wght@300&display=swap');
/*font-family: 'Merriweather', serif;*/
/*font-family: 'Roboto', sans-serif;*/

/*----------------Reusables other--------------------------*/
* {
    padding: 0;
    margin: 0;
}
/*----------------Header-----------------------*/
header {
    height: 30vh;
    background-color: green;
}
nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 10vw;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: none;
    color: red;
}